.list-group-item {
  line-height: 2.5;
}
.jumbotron1 {
  border: 2px solid white;
  border-radius: 25px;
  padding-left: 10px;
  background-color: rgb(131, 176, 202);
 }
h1 {
  font-size: 40px;
  font-family: URW Chancery L, cursive;
  color: rgb(33, 33, 85) ;
}
hr {
  border: 1px solid white;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}
body {
  background-image: url("../images/sea.jpg");
  background-size: cover;
}
.word {
  color: rgb(33, 33, 85);
  font-family: URW Chancery L, cursive;
}
.bold,
.word {
  font-weight: bold;
  font-size: 30px;
}

#main {
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}
.name {
  font-size: 30px;
  color: white;
}
.form-control{
  border-radius: 5px;
  height: 25px;
}
#dropdown{
  border-radius: 5px;
  height: 25px;
}

#clientInput{
  background-color: lightblue;
  border: 2px solid white;
  border-radius: 25px;
  padding: 20px;
}
